<!DOCTYPE html>
<html>
<head>
<title>Byte 1 Tutorial</title>
<link href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css" type="text/css">
</head>
<body>

<div class="header">
	<h1>Data Pipeline Project Byte One</h1>
</div>
<div class="main-container">
	<h3>What is the effect of easy access to contraceptives on Teen Birth rates?</h3>
	<p> The election this past November brought women's rights to the debate stage, especially women's reproductive rights and public funding of Planned Parenthood. The organization works to provide comprehensive sex education and free women's health care including free contraceptives. According to Planned Parenthood, they reach over 1.5 million teens each year in a mission to help combat teen pregnancy and reproductive health problems. For this project, I wanted to see if there was a correlation between teen pregnancy and access to Planned Parenthood or free reproductive health services. </p>   
	<div class="row">
		<div class="col-md-12">
			<h3> Teen Birth Rates per State </h3>
			<iframe width="800" height="400" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+1C2IhFxooErs6ipRIOsoVqoCiQ1tT8N0oaLjI0Mx7&amp;viz=MAP&amp;h=false&amp;lat=41.63772628901181&amp;lng=-95.63912534999997&amp;t=1&amp;z=3&amp;l=col0&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG">
			</iframe>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12"><p>This map shows the different teen birth rates per state. In the United States, 31 per 1,000 births involve from teens. The colors coordinate for different teen birth rate ranges. Red circles are associated with teenage birth rates from 40 - 49 per 1,000 births. Pink circles represent states with 30 - 39 per 1,000 births. Blue dots represent states with a teen birth rate between 20 - 29, and green dots represent states with a teenage birth rate below 20. </p>
			<p> By looking at the country as a whole, it's apparent southern states have a higher teen birth rate than coastal states, especially the East coast. </p>
	  	</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3> States Moving to Defund Planned Parenthood </h3>
			<iframe width="800" height="400" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+1C2IhFxooErs6ipRIOsoVqoCiQ1tT8N0oaLjI0Mx7&amp;viz=MAP&amp;h=false&amp;lat=39.704765366141494&amp;lng=-100.29732847499997&amp;t=1&amp;z=4&amp;l=col0&amp;y=3&amp;tmplt=5&amp;hml=ONE_COL_LAT_LNG">
			</iframe>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 final"><p> In order to answer whether or not there is a connection between access to contraceptives and teen birth rates, I found data on what states have moved to defund Planned Parenthood as of 2016. From my research, I hypothesized that historically Republican areas of the country would have more states that would move to defund Planned Parenthood.</p> <p>The states with red circles have moved to defund Planned Parenthood, and the states with the white circle still fully fund Planned Parenthood. After plotting my data on the map of the United States, my hypothesis was proven correct. Additionally, in comparing the teen birth rate map and the planned parenthood map, it's apparent that many states that are moving to or have already moved to restrict Planned Parenthood funding have some of the highest teen birth rates. </p>
		</div>
	</div>
	<p class="source"> Sources: The Daily Signal, Planned Parenthood, US Department of Health and Human Services </p>
</div>


</body>
</html>