<!DOCTYPE html>
<html>
<head>
<title>Byte 1 Tutorial</title>
</head>
<body>
<h1>Data Pipeline Project Byte Example</h1>
<div class="row">
  <div class="col-md-6"><iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+1C2IhFxooErs6ipRIOsoVqoCiQ1tT8N0oaLjI0Mx7&amp;viz=MAP&amp;h=false&amp;lat=41.63772628901181&amp;lng=-95.63912534999997&amp;t=1&amp;z=3&amp;l=col0&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG">
</iframe></div>
  <div class="col-md-6"><iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col0+from+1C2IhFxooErs6ipRIOsoVqoCiQ1tT8N0oaLjI0Mx7&amp;viz=MAP&amp;h=false&amp;lat=39.704765366141494&amp;lng=-100.29732847499997&amp;t=1&amp;z=4&amp;l=col0&amp;y=3&amp;tmplt=5&amp;hml=ONE_COL_LAT_LNG">
</iframe></div>
</div>
<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;q=select+col3%2C+col1+from+1C2IhFxooErs6ipRIOsoVqoCiQ1tT8N0oaLjI0Mx7+order+by+col1+asc+limit+51&amp;viz=GVIZ&amp;t=COLUMN&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=500&amp;height=300">
</iframe>

</body>
</html>